// 企业产品目录-列表页
.products {
    .head {
        position: relative;
        padding: 0.42rem 0 0.68rem 0.52rem;
        .photo {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
        }
        .name {
            padding-top: 0.14rem;
            line-height: 0.72rem;
            font-size: 0.32rem;
            color: rgba(49, 52, 55, 1);
        }
        .status {
            display: inline-block;
            padding: 0 0.18rem;
            font-size: 0.2rem;
            line-height: 0.36rem;
            color: rgba(49, 52, 55, 1);
            background: #DAF6F4;
            border-radius: 0.08rem;
        }
        .status0 {
            background: #F8D57E;
        }
        .status1 {
            background: #DAF6F4;
        }
        .status2 {
            background: #EAE2FE;
        }
        .status3 {
            background: #FEE1DD;
        }
        .btnWrap {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        .getBtn {
            padding: 0 0.3rem;
            // margin-top: 0.44rem;
            border-radius: 0.29rem 0rem 0rem 0.29rem;
            color: rgba(49, 52, 55, 1) !important;
            font-weight: 800;
        }
    }

}

// 企业产品目录-产品详情
.products_details {

}