// 资源 tabs页
.resources {
    padding-top: 0.2rem;

    .tab_content {
        padding-top: 0.39rem;
        padding: 0.39rem 0.25rem;
    }

    // .resources_tab {}
}

// 资源-企业列表  资源-人物列表
.enterprise_list,
.person_list {
    .contentItem {
        padding: 0.1rem 0.28rem;
        margin-bottom: 0.4rem;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0rem 0.1rem 0.26rem 0rem rgba(223, 227, 233, 0.51);
        border-radius: 0.16rem;
    }

    .logo {
        width: 1.4rem;
        height: 1.4rem;
        border-radius: 0.04rem;
        border: 0.02rem solid rgba(233, 233, 233, 1);
    }

    .title {
        padding-bottom: 0.08rem;
        font-size: 0.32rem;
        color: rgba(49, 52, 55, 1);
        line-height: 0.54rem;
    }

    .color999 {
        font-size: 0.24rem;
        color: rgba(157, 161, 166, 1);
        line-height: 0.34rem;
    }
}

// 资源-人物列表
.person_list {
    .avatar {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
    }

    .type {
        display: inline-block;
        padding: 0 0.18rem;
        margin-right: 0.36rem;
        line-height: 0.32rem;
        background: rgba(248, 213, 126, 1);
        border-radius: 0.08rem;
        font-size: 0.2rem;
        color: rgba(49, 52, 55, 1);
        vertical-align: middle;
        margin-top: -0.02rem;
    }

    .border {
        display: inline-block;
        font-size: 0.28rem;
        line-height: 0.28rem;
        font-weight: 500;
        margin-left: 0.1rem;
        padding-left: 0.1rem;
        border-left: 0.02rem solid #E9E9E9;
    }
}

// 资源-企业详情
.resources_enterpriseDetail {
    // height: 100vh;
    color: #000;
    padding-left: 0.24rem;
    box-sizing: border-box;

    // 企业信息
    .top {
        margin: 0.24rem 0.26rem 0 0;
        width: 6.96rem;
        height: 3.76rem;
        padding: 0 0.38rem;

        background: linear-gradient(300deg,
                rgba(74, 96, 119, 1) 0%,
                rgba(45, 72, 95, 1) 100%);
        color: #fff;
        border-radius: 0.16rem;

        .title {
            font-size: 0.4rem;
            padding-top: 0.4rem;
        }

        .middle {
            font-size: 0.24rem;
            margin-top: 0.18rem;
            margin-bottom: 0.71rem;

            .name_type {
                display: inline-block;
                width: 1.4rem;
                height: 0.36rem;
                text-align: center;
                margin: auto 0;
                background: #e5cc9d;
                border-radius: 0.04rem;
                color: #313437;
            }

            .icon {
                display: inline;
                color: #e5cc9d;
                margin-left: 0.26rem;
                margin-right: 0.14rem;
            }
        }

        .timer {
            padding-top: 0.14rem;
            line-height: 0.8rem;
            font-size: 0.24rem;
            color: rgba(255, 255, 255, 1);
        }

        .btn {
            font-size: 0.24rem;
            text-align: right;

            button {
                height: 0.58rem;
                border-radius: 0.29rem;
                padding: 0 0.18rem;
                border: 0.02rem solid rgba(255, 255, 255, 1);
                margin-left: 0.26rem;
            }

            .left_btn {
                background-color: #3c546b;
            }

            .right_btn {
                background-color: #e5cc9d;
                border: none;
                color: #313437;
            }
        }

        .maTop40 {
            padding-top: 0.5rem;
        }
    }

    // 企业相关视频
    .specifyWrap_title {
        font-size: 0.32rem;
        font-weight: bold;
        line-height: 1.3rem;
    }

    .specifyWrap {
        width: 100%;
        overflow-y: auto;

        .contentItem {
            overflow: hidden;
            float: left;
            width: 4.18rem;
            margin-right: 0.4rem;
            position: relative;
            background: rgba(255, 255, 255, 1);

            // box-shadow: 0rem 0.1rem 0.4rem 0rem rgba(223, 227, 233, 1);
            // border-radius: 0.16rem;
            .itemImg {
                width: 100%;
            }

            .cont {
                padding: 0.24rem 0;
                font-size: 0.3rem;
                line-height: 0.42rem;
                color: rgb(49, 50, 51);
                line-height: 0.4rem;
                color: #383B3F;
            }


        }
    }

    .product_catalog {
        margin-top: 0.3rem;

        .top-title {
            color: #313437;
            line-height: 1rem;
            font-size: 0.32rem;
            font-weight: bold;
            padding-right: 0.26rem;
        }

        .itemList {
            margin-bottom: 0.4rem;
            padding: 0.22rem;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0rem 0.1rem 0.26rem 0rem rgba(223, 227, 233, 0.51);
            border-radius: 0.16rem;

            .logo {
                // border: 1px solid #babcc0;
                width: 1.8rem;
                height: 1.8rem;
                border-radius: 0.04rem;
            }

            .title {
                font-size: 0.28rem;
                color: #313437;
                line-height: 0.4rem;
            }

            .nums {
                margin-top: 0.14rem;
                font-size: 0.24rem;
                line-height: 0.36rem;
                color: rgba(157, 161, 166, 1);
            }
        }
    }

    .van-divider {
        padding-top: 0.5rem;
    }
}

// 资源-人物详情
.resources_personDetail {
    .head {
        position: relative;
        padding: 0.42rem 0 0.68rem 0.52rem;

        .photo {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
        }

        .name {
            padding-top: 0.14rem;
            line-height: 0.72rem;
            font-size: 0.32rem;
            color: rgba(49, 52, 55, 1);
        }

        .status {
            display: inline-block;
            padding: 0 0.18rem;
            font-size: 0.2rem;
            line-height: 0.36rem;
            color: rgba(49, 52, 55, 1);
            background: #DAF6F4;
            border-radius: 0.08rem;
        }

        .status0 {
            background: #F8D57E;
        }

        .status1 {
            background: #DAF6F4;
        }

        .status2 {
            background: #EAE2FE;
        }

        .status3 {
            background: #FEE1DD;
        }

        .btnWrap {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .getBtn {
            padding: 0 0.3rem;
            // margin-top: 0.44rem;
            border-radius: 0.29rem 0rem 0rem 0.29rem;
            color: rgba(49, 52, 55, 1) !important;
            font-weight: 800;
        }
    }

    // 个人简介
    .infoWrap {
        padding-top: 0.2rem;
    }

    // 工作经历
    .workHistory {
        padding: 0.28rem;

        .title {
            font-size: 0.32rem;
            color: rgba(49, 52, 55, 1);
            line-height: 0.84rem;
        }

        .workItem {
            position: relative;
            padding: 0.32rem 0.18rem 0.32rem 0.22rem;
            margin-bottom: 0.4rem;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0rem 0.1rem 0.26rem 0rem rgba(223, 227, 233, 0.51);
            border-radius: 0.16rem;

            .logo {
                width: 1.56rem;
                height: 1.56rem;
                border-radius: 0.04rem;
                border: 0.02rem solid rgba(233, 233, 233, 1);
            }

            .post {
                font-size: 0.28rem;
                color: rgba(49, 52, 55, 1);
                line-height: 0.4rem;
            }

            .name {
                padding-top: 0.1rem;
                font-size: 0.28rem;
                color: rgba(49, 52, 55, 1);
                line-height: 0.4rem;
            }

            .cont {
                font-size: 0.24rem;
                color: rgba(157, 161, 166, 1);
                line-height: 0.36rem;
            }

            .status {
                display: inline-block;
                padding: 0 0.18rem;
                margin-left: 0.15rem;
                font-size: 0.2rem;
                line-height: 0.32rem;
                color: rgba(49, 52, 55, 1);
                border-radius: 0.08rem;
            }

            .status0 {
                background: #E9E9E9;
            }

            .status1 {
                background: #F8D57E;
            }


            .itemRight {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                .van-icon {
                    color: #9DA1A6;
                }
            }
        }

        .workItem.margin0 {
            margin: 0;
        }
    }

    .footerBtn {
        padding: 0.28rem 0.28rem 0.5rem;

        .van-button {
            height: 0.8rem;
            background: rgba(248, 213, 126, 1);
            border-radius: 0.16rem;
            color: rgba(49, 52, 55, 1) !important;
        }
    }

    .textHid {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

// 资源-工作经历
.resources_info {
    background: #F0F2F5;

    .logowrap {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0.34rem;

        .logo {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 1.5rem;
            background: rgba(233, 233, 233, 1);
            border-radius: 0.08rem;
            border: 0.02rem solid rgba(233, 233, 233, 1);
        }
    }

    .title {
        padding: 0.28rem 0.34rem 0;
        font-size: 0.28rem;
        color: rgba(136, 136, 136, 1);
        line-height: 0.56rem;
    }

    .item {
        position: relative;
        padding: 0 0.34rem;
        font-size: 0.3rem;
        color: rgba(0, 0, 0, 0.9);
        line-height: 1.12rem;
        background: #fff;
    }

    
}